.slider
  &__list
    position: relative
  &__item
    position: absolute
    width: 100%
    top: 0
    left: 0
    right: 0
    z-index: 2
    opacity: 0
    &-active
      opacity: 1
      z-index: 3
    img
      width: 100%
